:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
/* 
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
} */


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@import "tailwindcss";
.c-333{color: #333}
.c-888{color: #888!important}
.c-777{color:#777}
.c-666{color: #666}

.bg-888{
  background-color: #888;
}
.bg-666{
  background-color: #666;
}

.bg-ededed{background-color: #ededed;}

button.bg-transparent-cus{
  background-color: transparent!important;
  border-radius: 0!important ;
  border: 1px solid gray;
}

.border-right-custom-0::before,
.border-right-custom-0::after{
  border-right: .0875rem solid #d7d8d6;
  content: "";
  border-top: 0;
  height: 100%;
  margin: 0;
  width: 0;
}
